@model List<Prenotazione>
@{
	ViewData["Title"] = "Prenotazioni";
}


<div class="container">
	<div class="row">
		<h3>Homepage Prenotazioni</h3>
	</div>
	@if(User.IsInRole("Admin") || User.IsInRole("Supervisor")) {

		<div class="mt-3">
			<a class="btn btn-success" asp-controller="Prenotazione" asp-action="AddPrenotazione">Aggiungi prenotazione</a>
		</div>
	}
	<div class="row mt-5">
		<div id="tableContainer"></div>
	</div>
</div>


@section Scripts{
	<script>
			//Aggiungi un eventListener che si loadda al caricamento Del DOM
			document.addEventListener("DOMContentLoaded", () =>{
				  getTable();
			});
				async function getTable(){
				const tabellaPrenotazioni = document.getElementById("tableContainer");
			if(!tabellaPrenotazioni){ return }
				try{

			let response = await fetch("/Getall",{
					method: "GET"
				})
				if(response.ok){
					let result = await response.text();
				tabellaPrenotazioni.innerHTML = result;
					new DataTable("#tabellaPrenotazioni", {
							ordering: true,
							responsive: true,
							columnDefs: [
								{
									orderable: true
								}
							]
						})
				}else{
					throw new Error("errore")
				};
				}catch(error)
				{
					console.log(error)
				}
			};
				</script>
}
