 @using System.Security.Claims;
@{
	ViewData["Title"] = "Pagina Dipendente";
}


<div class="container">
	<div class="row">
		<h2>Benvenuto @User.FindFirst(ClaimTypes.GivenName).Value</h2>
	</div>
	@if (User.IsInRole("Admin"))
	{
		<div class="row">
			<div class="card">
				<div class="card-header">
					Admin Privilege-only
				</div>
				<div class="card-body">
					<h5 class="card-title">Inserimento nuovo Dipendente</h5>
					<p class="card-text">in questa sezione potrai creare ed aggiungere un nuovo dipendente</p>
					<a asp-action="Register" asp-controller="Account" class="btn btn-primary">Vai alla Registrazione</a>
				</div>
			</div>

		</div>
	}

	<div class=" row">
		@if (User.IsInRole("Supervisor") || User.IsInRole("Admin"))
		{
			<div class="row">
				<div class="card">
					<div class="card-header">
						SuperVisor Privilege-only
					</div>
					<div class="card-body">
						<h5 class="card-title">Gestione prenotazioni</h5>
						<p class="card-text">in questa sezione potrai creare ed aggiungere delle nuove Prenotazioni</p>
						<a asp-action="AddPrenotazione" asp-controller="Prenotazione" class="btn btn-primary">Vai alla Prenotazione</a>
					</div>
				</div>

			</div>
		}
	</div>
	<div class="row">
		@if (User.Identity.IsAuthenticated)
		{
			<div class="row">
				<div class="card">
					<div class="card-header">
						Vista prenotazioni
					</div>
					<div class="card-body">
						<h5 class="card-title">Visualizza Prenotazioni</h5>
						<p class="card-text">in questa sezione potrai visualizzare le prenotazioni attive</p>
						<a asp-action="Index" asp-controller="Prenotazione" class="btn btn-primary">Vai alle Prenotazioni</a>
					</div>
				</div>

			</div>
		}
	</div>
</div>
