html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

fieldset {
    border: 1px solid #ccc !important;
    padding: 10px !important;
    margin: 0 0 10px !important;
    min-width: 0 !important;
    background: none !important;
    position: relative !important;
}

legend {
    width: auto !important;
    padding: 0 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px;
    font-size: inherit !important;
    line-height: inherit !important;
    position: absolute !important;
    top: -0.8em !important;
    background: white !important;
    margin-left: -5px !important;
}